**/.DS_Store
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/*.tfstate
**/*.tfstate.backup
**/*.tar.gz
/bin
**/temp_ip.txt
**/temp_part2.txt
**/temp_part4.txt
**/config.yaml
**/*.jar
cf
**/ipsum.txt
**/ecs_main_ip.txt
/huawei/temp
/aws/temp
/aliyun/temp
**/.idea